<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
	<title>Test Model</title>
	<link rel="stylesheet" href="/stylesheets/c3.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="settings"></div>
	<div id="extended"></div>
	<div id="chart"></div>
	<div id="data"></div> 
	<div>
		<input type="button" value="Save" onclick="save()"/>
	</div>
	<div>
		<input type="button" value="Share" onclick="share()"/>
		<input type="button" value="Populate" onclick="populate()"/>
	</div>
	<script type="text/javascript">
		
	</script>
	<script src="/javascripts/libs/c3.min.js"></script>
	<script src="/javascripts/libs/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
	<script src="/javascripts/script.js"></script>
</body>
</html>