<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<link rel="stylesheet" href="public/stylesheets/homepage.css">
</head>
<body>
	<nav>BONchart
		<div id='userInfo'>
			<% if(!isAuthenticated) { %>
				<a href="/login">Log in</a>
				<a href="/registration">Registration</a>
				<a href="/facebook"><img src="public/images/facebook.png" width="50" height="50"></a>
				<a href="/twitter"><img src="public/images/twitter.png" width="50" height="50"></a>
			<% } else { %>
				<a href='/'>Hello, <%= user.name %></a>
				<a href="/logout">Log out</a>
			<%}%>
		</div>
	</nav>	
</body>
</html>