<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
</head>
<body>
	<% if(errorInfo) {%>
		<div><%=errorInfo%></div>
	<% } %>
	<form action="" method="post">
		<input type="text" name="username" placeholder="Username"/>
		<input type="password" name="password" placeholder="Password"/>
		<input type="submit" value="Log in"/>

	</form><input type="button" onclick="open()" value = "open"/>
	<script type="text/javascript">
	function open() {
		window.open("https://twitter.com/intent/tweet?url=http%3A%2F%2Flive.amcharts.com%2FmM1OD%2F&text=Build+your+own+free+chart+like+this+and+share+on+Twitter+or+add+as+interactive+widget+to+your+website.");
	}
	</script>
</body>
</html>