<!DOCTYPE html>
<html>
<head>
	<title>User page</title>
</head>
<body>
	<a href='/'>Hello, <%= user.name %></a>
	<a href="/logout">Log out</a>
	<div id="container"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
	<script src="public/javascripts/chartsList.js"></script>
</body>
</html>